nav.navbar.navbar-expand-md.navbar-light.bg-light
  .container
    a(class='navbar-brand' href="/") 143chars
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    div(class="collapse navbar-collapse" id="navbarSupportedContent")
      ul.navbar-nav.mr-auto
        if !currentUser
          li.nav-item
            a(class='nav-link' href='/register') Register
        if currentUser
          li.nav-item
            a(class='nav-link' href='/profile/' + currentUser + '') Profile 
          li.nav-item
            a(class='nav-link' href='/new') New Msg
          li.nav-item
            a(class='nav-link' href='/settings') Settings
          li.nav-item
            a(class='nav-link' href='/logout') Log Out
        else
          li.nav-item
            a(class='nav-link' href='/login') Log In