extends layout

block content
  .container
    .row
      .twelve.columns
        h2 Welcome back #{username}!
        h3 Recent Messages
        
        ul
        each message in messages
          li #{message.date} // #{message.userId} // #{message.message}