extends layout

block content
  .container
    .row
      .twelve.columns
        h3 What is 143chars?
        p 143chars is not a twitter clone. It is a project to learn more about Node.js, Express, and MongoDB.