.container
  .row
    .twelve.columns
      h1 143chars
.container
  .row
    .twelve.columns
      a.button(href='/') index/home
      a.button(href='/register') Register
      a.button(href='/login') Log In
      a.button(href='/profile') Profile
      a.button(href='/new') New Msg
      a.button(href='/logout') Log Out