extends layout

block content
  .row
    .col
      h3.mt-4 New Message

  .row
    .col
      form(method='POST' action='/new')
        .form-group
          textarea.form-control(type='text' id='messageInput' name='messageInput' placeholder='Enter your message')
        button.btn.btn-primary(type='submit') Send Message