extends layout

block content
  .row
    .col
      h3.mt-4 Your Profile 
        if messages.length === 1
          small #{messages.length} Message
        else
          small #{messages.length} Messages
  
  .row
    .col
      ul.list-unstyled
      each message in messages
        li.media.mb-4
          img(src='avatars/' + message.avatar + '.svg' width='64' height='64' class='mr-3' alt='')
          .media-body
            |
            h5(class='mt-0 mb-1') #{message.message}
            |
            | Posted: #{message.date.toDateString()}        