extends layout

block content
  .container
    h3 Your Messages

    if messages
      ul
      each message in messages
        li #{message.date} // #{message.userId} // #{message.message}
    
    else
      p 
        | You should submit a 
        a(href='/new/') new 
        | message