extends layout

block content
  .container
    .row
      h3.mt-4 Register
    
    .row
    form(method='POST' action='/register')
      .form-group
        label(for='username') Username
        input.form-control(type='text' id='username' name='usernameInput' placeholder='Enter your desired username')
      .form-group
        label(for='password') Password
        input.form-control(type='password' id='password' name='passwordInput' placeholder='Enter your desired password')
      .form-group
        label(for='avatar') Password
        select(name="avatarInput" id='avatar' class='form-control')
          option coolshades
          option robot
          option skier
      button.btn.btn-primary(type='submit') Register