extends layout

block content
  .row
    .col
      h3.my-4 Settings
  
  .row
    .col-md-6.p-1.mb-4
      .border.border-success.rounded-lg.p-3
        h4.mb-3 User Options
        form(method='POST' action='/settings')
          .form-group
            label(for='username') Username
            input.form-control(type='text' id='username' name='usernameInput' value=username) 
          .form-group
            label(for='avatar') Avatar
            select(name="avatarInput" id='avatar' class='form-control')
              include includes/avatars.pug
          button.btn.btn-primary(type='submit') Update
    .col-md-6.p-1
      .border.border-danger.rounded-lg.p-3
        h4.mb-3 Danger Zone
        p These options are irreversible!
        a.btn.btn-danger(href='/delete/messages/' + userId) Delete All Messages
        | 
        a.btn.btn-danger(href='/delete/user/' + userId) Delete Account

