extends layout

block content
  .row
    .col
      h3.my-4 Settings
  
  .row.mb-4
    .col.border.border-danger.p-3
      h4.mb-3 Danger Zone
      a.btn.btn-danger(href='/delete/messages/' + userId) Delete All Messages
      | 
      a.btn.btn-danger(href='#') Delete Account

  .row
    .col
      form(method='POST' action='/settings')
        .form-group
          label(for='username') Username
          input.form-control(type='text' id='username' name='usernameInput' value=username) 
        .form-group
          label(for='avatar') Avatar
          select(name="avatarInput" id='avatar' class='form-control')
            include includes/avatars.pug
        button.btn.btn-primary(type='submit') Update